*.iml
*.exe
*.jar
*.class
*.beam
.idea/
.build/
out/
target/
dist/
Cargo.lock
.lein-repl-history
env.sh
desafio2/fsharp/FSharp.Data
desafio2/kotlin/.gradle
desafio2/kotlin/build
a.out
data.dat
salida.out
*.out
*.dat
*.data
*.xlsx
/desafio1/swift/Packages
/desafio3/kotlin/.gradle
.DS_Store
.stack-work
/desafio3/kotlin/build
.gradle/
.gradle
desafio4/kotlin/.gradle/
desafio4/kotlin/.gradle
/desafio4/kotlin/build
/desafio4/kotlin/gradle
